body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #333;
}

/*boton descargar*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: antiquewhite;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 0 1000px;
  }
  
  .button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
  }
  
  .button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover a {
    padding-right: 25px;
  }
  
  .button:hover a:after {
    opacity: 1;
    right: 0;
  }
/*fin boton descargar*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #212121;
    /* Gris oscuro */
    color: RGB(173, 216, 230);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    ;
}

.barra_pegada {
    position: sticky;
    top: 0;
   /* background-color: green;
    border: 2px solid #4CAF50;*/
    list-style: none;
    padding: 0;
    margin: 20px 930px;
    text-align: right;
    width: 180px;
}

.container h3 {
    text-align: right;
}

.barra_pegada li {
    display: inline-block;
    margin: 0 10px;
}

.icon{
    width: 20px;
    height: 20px;
}

.skill {
    width: 100px;
    height: 100px;
}

.hab td {
    padding-left: 200px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: antiquewhite;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #000;
    /* Gris más oscuro */
}

.perfil {
    text-align: center;
    padding: 20px;
    filter: drop-shadow(13px 12px 16px #000000);
}

.content {
    margin-left: 200px;
    padding: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 0;
    padding: 0 20px;

}

.header {
    background-color: #212121;
    /* Gris oscuro */
    color: antiquewhite;
    padding: 20px 0 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header__title {
    filter: drop-shadow(13px 12px 16px #000000);
    text-align: left;
}

.section {
    background-color: #212121;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: antiquewhite;
}

.section h2 {
    color: antiquewhite;
    font-size: 22px;
    margin-top: 0;
}

.footer {
    background-color: #212121;
    /* Gris oscuro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



.perfil img {
    width: 100px;
    border-radius: 50%;
}